# EDA COVID PROJECT

### Import libraries

In [1]:
import pandas as pd
import numpy as np
import sys
import os
import import_ipynb

In [2]:
import first_visualitation as fv

importing Jupyter notebook from first_visualitation.ipynb

In [3]:
import second_cleaning_data as scd

importing Jupyter notebook from second_cleaning_data.ipynb

### Import modules

In [4]:
"""
Insert your file's path
"""

sys.path.append(os.path.dirname(os.path.dirname('C:\\Users\\usuario\\Desktop\\alumno_data_sciece\\data_science\\Trabajo_COVID_grupal\\notebooks\\questions_option_c')))

In [5]:
from src.utils import folders_tb as ft
from src.utils import mining_data_tb as mdt

### Objetcs

In [6]:
variable_creator = ft.Folders()
variable_miner = mdt.Miner()

# Question a

### 1. Total infected = Total cases

In [8]:
our_countries_total_cases = variable_miner.total_infected(dataset1=fv.first_visualitation)
our_countries_total_cases

                    max  Position
location
Poland        1443804.0        14
South Africa  1356716.0        15
Indonesia      927380.0        20
Ukraine       1206125.0        17
Spain         2370742.0         9

### 2. Total deaths

In [9]:
our_countries_total_deaths = variable_miner.total_deaths(dataset1=fv.first_visualitation)
our_countries_total_deaths

                  max  Position
location
Poland        33698.0        16
South Africa  38288.0        15
Indonesia     26590.0        17
Ukraine       22037.0        19
Spain         54173.0        10

### 3. Life expectancy

In [10]:
our_countries_life_expectancy = variable_miner.life_expectancy(dataset1=fv.first_visualitation)
our_countries_life_expectancy

                max  Position
location
Poland        78.73        44
South Africa  64.13       159
Indonesia     71.72       121
Ukraine       72.06       117
Spain         83.56         7