# EDA COVID PROJECT

### Import libraries

In [1]:
import pandas as pd
import numpy as np
import sys
import os
import import_ipynb

In [2]:
import first_visualitation as fv

importing Jupyter notebook from first_visualitation.ipynb

In [3]:
import second_cleaning_data as scd

importing Jupyter notebook from second_cleaning_data.ipynb

### Import modules

In [4]:
"""
Insert your file's path
"""

sys.path.append(os.path.dirname(os.path.dirname('C:\\Users\\usuario\\Desktop\\alumno_data_sciece\\data_science\\Trabajo_COVID_grupal\\notebooks\\questions_option_c')))

In [5]:
from src.utils import folders_tb as ft
from src.utils import mining_data_tb as mdt

### Objetcs

In [6]:
variable_creator = ft.Folders()
variable_miner = mdt.Miner()

# Question a

### 1. Total infected = Total cases

In [9]:
poland_total_cases = variable_miner.country_position(dataset=fv.first_visualitation,country='Poland',variable='total_cases',h=192)
south_africa_total_cases = variable_miner.country_position(dataset=fv.first_visualitation,country='South Africa',variable='total_cases',h=192)
indonesia_total_cases = variable_miner.country_position(dataset=fv.first_visualitation,country='Indonesia',variable='total_cases',h=192)
ukraine_total_cases = variable_miner.country_position(dataset=fv.first_visualitation,country='Ukraine',variable='total_cases',h=192)
spain_total_cases = variable_miner.country_position(dataset=fv.first_visualitation,country='Spain',variable='total_cases',h=192)

In [13]:
poland_total_cases

                max  Position
location
Poland    1443804.0        14

In [14]:
south_africa_total_cases

                    max  Position
location
South Africa  1356716.0        15

In [15]:
indonesia_total_cases

                max  Position
location
Indonesia  927380.0        20

In [16]:
ukraine_total_cases

                max  Position
location
Ukraine   1206125.0        17

In [17]:
spain_total_cases

                max  Position
location
Spain     2370742.0         9

### 2. Total deaths

In [18]:
poland_total_deaths = variable_miner.country_position(dataset=fv.first_visualitation,country='Poland',variable='total_deaths',h=192)
south_africa_total_deaths = variable_miner.country_position(dataset=fv.first_visualitation,country='South Africa',variable='total_deaths',h=192)
indonesia_total_deaths = variable_miner.country_position(dataset=fv.first_visualitation,country='Indonesia',variable='total_deaths',h=192)
ukraine_total_deaths = variable_miner.country_position(dataset=fv.first_visualitation,country='Ukraine',variable='total_deaths',h=192)
spain_total_deaths = variable_miner.country_position(dataset=fv.first_visualitation,country='Spain',variable='total_deaths',h=192)

In [19]:
poland_total_deaths

              max  Position
location
Poland    33698.0        16

In [20]:
south_africa_total_deaths

                  max  Position
location
South Africa  38288.0        15

In [21]:
indonesia_total_deaths

               max  Position
location
Indonesia  26590.0        17

In [22]:
ukraine_total_deaths

              max  Position
location
Ukraine   22037.0        19

In [23]:
spain_total_deaths

              max  Position
location
Spain     54173.0        10

### 3. Life expectancy

In [24]:
poland_life_expectancy = variable_miner.country_position(dataset=fv.first_visualitation,country='Poland',variable='life_expectancy',h=192)
south_africa_life_expectancy = variable_miner.country_position(dataset=fv.first_visualitation,country='South Africa',variable='life_expectancy',h=192)
indonesia_life_expectancy = variable_miner.country_position(dataset=fv.first_visualitation,country='Indonesia',variable='life_expectancy',h=192)
ukraine_life_expectancy = variable_miner.country_position(dataset=fv.first_visualitation,country='Ukraine',variable='life_expectancy',h=192)
spain_life_expectancy = variable_miner.country_position(dataset=fv.first_visualitation,country='Spain',variable='life_expectancy',h=192)

In [25]:
poland_life_expectancy

            max  Position
location
Poland    78.73        44

In [26]:
south_africa_life_expectancy

                max  Position
location
South Africa  64.13       159

In [27]:
indonesia_life_expectancy

             max  Position
location
Indonesia  71.72       121

In [28]:
ukraine_life_expectancy

            max  Position
location
Ukraine   72.06       117

In [29]:
spain_life_expectancy

            max  Position
location
Spain     83.56         7