# EDA COVID PROJECT

### Import libraries

In [1]:
import pandas as pd
import numpy as np
import sys
import os
import import_ipynb

In [2]:
import first_visualitation as fv

importing Jupyter notebook from first_visualitation.ipynb

In [3]:
import second_cleaning_data as scd

importing Jupyter notebook from second_cleaning_data.ipynb

In [4]:
import new_data as nd

importing Jupyter notebook from new_data.ipynb

### Import modules

In [5]:
"""
Insert your file's path
"""

sys.path.append(os.path.dirname(os.path.dirname('C:\\Users\\usuario\\Desktop\\alumno_data_sciece\\data_science\\Trabajo_COVID_grupal\\notebooks\\questions_option_c')))

In [6]:
from src.utils import folders_tb as ft
from src.utils import mining_data_tb as mdt

### Objetcs

In [7]:
variable_creator = ft.Folders()
variable_miner = mdt.Miner()

In [8]:
fv.first_visualitation

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61461,ZWE,Africa,Zimbabwe,2021-01-17,27203.0,322.0,818.000,713.0,30.0,29.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
61462,ZWE,Africa,Zimbabwe,2021-01-18,27892.0,689.0,799.286,773.0,60.0,35.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
61463,ZWE,Africa,Zimbabwe,2021-01-19,28675.0,783.0,776.571,825.0,52.0,39.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
61464,ZWE,Africa,Zimbabwe,2021-01-20,29408.0,733.0,736.000,879.0,54.0,41.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
61465,ZWE,Africa,Zimbabwe,2021-01-21,30047.0,639.0,668.429,917.0,38.0,40.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535

# Question a

### 1. Total infected = Total cases

In [9]:
our_countries_total_cases = variable_miner.total_infected(dataset1=fv.first_visualitation)
our_countries_total_cases

                    max  Position
location
Poland        1457755.0        14
South Africa  1380807.0        15
Indonesia      951651.0        19
Ukraine       1216780.0        17
Spain         2456675.0         7

### 2. Total deaths

In [10]:
our_countries_total_deaths = variable_miner.total_deaths(dataset1=fv.first_visualitation)
our_countries_total_deaths

                  max  Position
location
Poland        34561.0        16
South Africa  39501.0        14
Indonesia     27203.0        17
Ukraine       22521.0        19
Spain         55041.0        10

### 3. Life expectancy

In [11]:
our_countries_life_expectancy = variable_miner.life_expectancy(dataset1=fv.first_visualitation)
our_countries_life_expectancy

                max  Position
location
Poland        78.73        44
South Africa  64.13       160
Indonesia     71.72       121
Ukraine       72.06       117
Spain         83.56         7

### 4. Total Recoveries

In [12]:
our_countries_recovered = variable_miner.total_recoveries(dataset1=nd.final_df)
our_countries_recovered

                    max  Position
location
Poland        1215732.0        11
South Africa  1183443.0        12
Indonesia      772790.0        17
Ukraine        947087.0        15
Spain          300752.0        31